body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../background.jpg");
    background-size: cover;
    background-position: center;
}

.navbar a {
    background-color: #c227c500;
    color: white;
}

.navbar a:hover{
    color: rgba(255, 235, 205, 0.417);
}
  
  