body, .delete-button {
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    color: rgb(51, 51, 51, 100%);
    font-family: Helvetica, sans-serif;

}

.col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 0px;
}

.card-body {
    padding: 0px;
    margin-bottom: 1em;
}
.card-body {
    padding: 0px;
    margin-bottom: 1em;
}
.info-product {
    margin-top: 17em;
    margin-left: 5em;
    width: 25em;
}

@media (max-width: 990px){
    .info-product {
      margin-left: 0rem;
      margin-top: 3em;
      width: 100%;
    }
  }

.card-title {
    font-weight: 600;
}

.buy-botton {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
}

.card a div{
    color: white;
}

.delete-button {
    background-color: white;
    border: none;
    display: inline-block;
    font-stretch: 75%;
    padding: 0px;
}

.delete-button:hover{
    text-decoration: underline;
}

p {
    margin-bottom: 0;
}
